<div #pdfContent>
  <table>
    <tr><th>apple</th><th>pear</th></tr>
     <tr><th>mango</th><th>peach</th></tr>
  </table>
<h1>Feliz Navidad</h1>
<b>Boney M.</b>
<p>
  Feliz Navidad<br>
Feliz Navidad<br>
Feliz Navidad<br>
Prospero año why felicidad<br>
Feliz Navidad<br>
Feliz Navidad<br>
Feliz Navidad<br>
Prospero año why felicidad<br>
I want to wish you a Merry Christmas<br>
I want to wish you a Merry Christmas<br>
I want to wish you a Merry Christmas<br>
From the bottom of my heart<br>
I want to wish you a Merry Christmas<br>
I want to wish you a Merry Christmas<br>
I want to wish you a Merry Christmas<br>
From the bottom of my heart<br>
Feliz Navidad<br>
Feliz Navidad<br>
Feliz Navidad<br>
Prospero año why felicidad<br>
Feliz Navidad<br>
Feliz Navidad<br>
Feliz Navidad<br>
Prospero año why felicidad<br>
I want…
</p>
</div>
<button (click)="downloadPDF()">Get me in PDF</button>